body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: black;
  color: white;
  overflow: hidden;
}

.player {
  position: relative;
}

video {
  max-width: 100vw;
  max-height: 80vh;
}

#playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  background: none;
  border: none;
  color: white;
  padding: 20px 30px;
  cursor: pointer;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
